/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.css";
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: rgba(255,255,255,0);
}

.app-bg {
  border-radius: 8px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.function-control {
  line-height: 32px;
  .function-horizontal-menu {
    line-height: 30px;
    padding-top: 0;
    li {
      color: rgba(128,128,128,0.3);
      border-right: rgba(128,128,128,0.3);
    }
    border-color: rgba(240,240,240,0.4);
    border-width: 2px;
  }
}

.function-content {
  margin-top: 18px;
}

.cdk-overlay-container {
  -webkit-app-region: no-drag;
}
