.home {
  background: url(/assets/img/minellius-banner-with-logo.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  -webkit-app-region: drag;

  .home-slogan {
    position: absolute;
    left: 75px;
    top: 300px;
    width: 300px;
    color: #9096A5;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.8em;
  }
  .home-buttons {
    position: absolute;
    left: 75px;
    top: 420px;
    button {
      border-radius: 1em;
      width: 120px;
      margin-right: 10px;
      -webkit-app-region: no-drag;
      a {
        color: rgba(64,64,64,0.8);
      }
    }
  }
}
