<div class="app-bg home">
  <app-layout-logo></app-layout-logo>
  <app-exit-button></app-exit-button>
  <div class="home-slogan">
    {{"PAGES.HOME.SLOGAN"|translate}}
  </div>
  <div class="home-buttons">
    <button nz-button [nzType]="'primary'" (click)="routeTo('/log')">
      {{"PAGES.HOME.BUTTONS.SIGNIN"|translate}}
    </button>
    <button nz-button [nzType]="'ghost'" (click)="routeTo('/layout')">
      {{"PAGES.HOME.BUTTONS.SIGNUP"|translate}}
    </button>
    <button nz-button [nzType]="'ghost'">
      {{"PAGES.HOME.BUTTONS.CONTACTUS"|translate}}
    </button>
  </div>
</div>
