<div class="app-bg home">
  <div class="home-slogan">
    {{"PAGES.HOME.SLOGAN"|translate}}
  </div>
  <div class="home-buttons">
    <button nz-button [nzType]="'primary'" (click)="routeTo('/log/log-in')">
      {{"PAGES.HOME.BUTTONS.SIGNIN"|translate}}
    </button>
    <button nz-button [nzType]="'ghost'" (click)="routeTo('/log/sign-up')">
      {{"PAGES.HOME.BUTTONS.SIGNUP"|translate}}
    </button>
    <button nz-button [nzType]="'ghost'" (click)="showVideo()">
      {{"PAGES.HOME.BUTTONS.CONTACTUS"|translate}}
    </button>
  </div>
  <nz-modal [(nzVisible)]="showModal" nzTitle="{{'PAGES.INTRO.TITLE'|translate}}"
            nzOkText="{{'PAGES.INTRO.OK'|translate}}" nzContent="{{'PAGES.INTRO.CONTENT'|translate}}"
            nzCancelText="{{'PAGES.INTRO.CANCEL'|translate}}" (nzOnOk)="showVideo()"
            (nzOnCancel)="onVideoExit()" [nzKeyboard]="false" [nzMaskClosable]="false"
  >
  </nz-modal>
</div>
