.control-panel-card {
}

.control-panel-info {
}

.control-panel-default-card {
  font-size: 128px;
  color: rgba(128,128,128,0.1);
  height: 560px;
  width: 540px;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}
