.function-control {
  line-height: 32px;
  .function-horizontal-menu {
    line-height: 30px;
    padding-top: 0;
    color: rgba(128,128,128,0.7);
    border-color: rgba(240,240,240,0.4);
    border-width: 2px;
  }
}
