.helper-content {
  width: 100%;
  padding: 0 50px;
  font-size: 1.15em;
  color: rgba(128,128,128,0.95);
  font-weight: bold;
}


.helper-card {
}

.helper-logo {}

.helper-footer {
  text-align: center;
}
