.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

[nz-button] {
  margin-right: 8px;
}

[nz-input],[nz-select] {
  width: 200px;
}

.highlight {
  color: #f50;
}

.period-detail-body {
  height: 552px
}
