.layout {
  background: rgba(210,235,255,0.05)
}

.layout-header {
  background: rgba(255,255,255,0);
  width: 100%;
  height: 80px;
  box-shadow: 0 4px 8px rgba(#2b85e4,0.1);
  -webkit-app-region: drag;
}

.layout-main {
  background: rgba(255,255,255,0);
}

.layout-body {
  width: 100%;
  background: rgba(255,255,255,0);
}

.layout-footer {
  height: 15px;
  width: 100%;
  margin: 0;
  background: rgba(255,255,255,0);
}

nz-content {
  background: rgba(255,255,255,0);
}
