<nz-layout class="app-bg layout">
  <nz-header class="layout-header">
    <app-layout-logo></app-layout-logo>
    <app-exit-button></app-exit-button>
  </nz-header>
  <nz-layout class="layout-body">
    <nz-sider [nzWidth]="220">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li *ngFor="let item of menuItems; let i=index" nz-menu-item [nzSelected]="item.selected" (click)="menuSwitchTo(i)">
          <a [routerLink]="item.path"><i nz-icon [type]="item.icon"></i>
          {{item.name|translate}}
          </a>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="layout-main">
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
