.app-translate {
  cursor: pointer;
  -webkit-app-region: no-drag;
  position: fixed;
  z-index:100;
  right: 64px;
  top: 24px;
  width: 20px;
  height: 20px;
  img {
    position: fixed;
    height: 20px;
  }
  :hover {
    img {
      opacity: 0.5 !important;
      background-color: transparent !important;
      filter:alpha(opacity=50);
    }
  }
}
